In [11]:
import pandas as pd
import numpy as np
import json
import csv

In [2]:
f1 = open('source.json')
f2 = open('target.json')

In [3]:
source = json.load(f1)
source

{'id': '122-34-6543',
 'firstName': 'Leanne',
 'lastName': 'Graham',
 'address': {'street': 'Kulas Light',
  'suite': 'Apt. 556',
  'city': 'Gwenborough',
  'zipcode': '92998-3874'},
 'occupation': 'self-employed',
 'age': 29}

In [4]:
target = json.load(f2)
target

{'SSN': '122-34-6543',
 'CustomerFullName': 'Leanne Graham',
 'CustomerAddress': 'Kulas Light Apt. 556',
 'CustomerCity': 'Gwenborough',
 'CustomerZipCode': '92998-3874',
 'CustomerProfession': 'SELF',
 'CustomerAge': 29}

In [6]:
data = pd.read_csv("mapping.csv",on_bad_lines = 'skip')
data

   No.             Target                             Source  Enumeration
0    1                SSN                                .id            -
1    2   CustomerFullName             .firstName + .lastName            -
2    3    CustomerAddress   .address.street + .address.suite            -
3    4       CustomerCity                      .address.city            -
4    5    CustomerZipCode                   .address.zipcode            -
5    7        CustomerAge                               .age            -

In [8]:
data2 = open("mapping.csv","r")
print(data2.read())

No.,Target, Source, Enumeration
1, SSN, .id, -
2, CustomerFullName, .firstName + .lastName, -
3, CustomerAddress, .address.street + .address.suite, -
4, CustomerCity, .address.city, -
5, CustomerZipCode, .address.zipcode, -
6, CustomerProfession, ENUM(.occupation), {"self-employed": "SELF""," "salaried": "FIXED INCOME""," "other": "MISC"}
7, CustomerAge, .age, -

In [10]:
content = data2.readlines()
content[0]

IndexError: list index out of range

In [67]:
allList = []
proper_data = pd.DataFrame(columns=['SR','Target','Source','Operation','EnumFound'])
with open('mapping.csv') as file_obj:
    reader_obj = csv.reader(file_obj)
    for row in reader_obj:
        if(row[0]=='No.'):
            continue
        else:
            sourcelist = row[2].split(" + ")
            for i in range(0,len(sourcelist)):
                sourcelist[i] = sourcelist[i].strip(" .")
            print(sourcelist)
            allList.append(sourcelist)
            
            enum = False
            for i in range(0,len(sourcelist)):
                if(sourcelist[i].find("ENUM")!=-1):
                    enum = True
                    break
            
            
            if(len(sourcelist)>1):
                
                new_row = {'SR':row[0],'Target':row[1],'Source':"",'Operation':"+",'EnumFound':"No"}
                proper_data = proper_data.append(new_row,ignore_index = True)
                
            else:
                if(enum==True):
                    
                    new_row = {'SR':row[0],'Target':row[1],'Source':"",'Operation':"No",'EnumFound':"Yes"}
                    proper_data = proper_data.append(new_row,ignore_index = True)
                    
                else:
                    new_row = {'SR':row[0],'Target':row[1],'Source':"",'Operation':"No",'EnumFound':"No"}
                    proper_data = proper_data.append(new_row,ignore_index = True)
        
print(proper_data)

['id']
['firstName', 'lastName']
['address.street', 'address.suite']
['address.city']
['address.zipcode']
['ENUM(.occupation)']
['age']
  SR               Target Source Operation EnumFound
0  1                  SSN               No        No
1  2     CustomerFullName                +        No
2  3      CustomerAddress                +        No
3  4         CustomerCity               No        No
4  5      CustomerZipCode               No        No
5  6   CustomerProfession               No       Yes
6  7          CustomerAge               No        No

In [70]:
for i in range(0,len(allList)):
    for j in range(0,len(allList[i])):
        allList[i][j] = allList[i][j].strip("ENUM(.")
        allList[i][j] = allList[i][j].strip(")")
allList

[['id'],
 ['firstName', 'lastName'],
 ['address.street', 'address.suite'],
 ['address.city'],
 ['address.zipcode'],
 ['occupation'],
 ['age']]

In [72]:
proper_data

  SR               Target Source Operation EnumFound
0  1                  SSN               No        No
1  2     CustomerFullName                +        No
2  3      CustomerAddress                +        No
3  4         CustomerCity               No        No
4  5      CustomerZipCode               No        No
5  6   CustomerProfession               No       Yes
6  7          CustomerAge               No        No

In [73]:
# with open('mapping.csv') as file_obj:
#     reader_obj = csv.reader(file_obj)
#     for row in reader_obj:
#         print(row)

In [74]:

mappings = [[]]

with open('mapping.csv', 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        temp=[];
        enum="";
        ind=0;
        for item in row:
          ind+=1;
          if(ind>=4):
            enum+=item[:-1]+","+item[-1];
          else:
            temp.append(item.lstrip());
        temp.append((enum[:-2]+enum[-1]).lstrip())
#         print(enum[:-2]+enum[-1]);
        mappings.append(temp)

In [75]:
enumlist = []
for i in range(2,len(mappings)):
    enumlist.append(mappings[i][3])

In [76]:
enumlist

['-',
 '-',
 '-',
 '-',
 '-',
 '{"self-employed": "SELF"," salaried": "FIXED INCOME"," other": "MISC"}',
 '-']

In [78]:
proper_data

  SR               Target Source Operation EnumFound
0  1                  SSN               No        No
1  2     CustomerFullName                +        No
2  3      CustomerAddress                +        No
3  4         CustomerCity               No        No
4  5      CustomerZipCode               No        No
5  6   CustomerProfession               No       Yes
6  7          CustomerAge               No        No

In [79]:
allList

[['id'],
 ['firstName', 'lastName'],
 ['address.street', 'address.suite'],
 ['address.city'],
 ['address.zipcode'],
 ['occupation'],
 ['age']]

In [100]:
target_made = {}

In [82]:
target

{'SSN': '122-34-6543',
 'CustomerFullName': 'Leanne Graham',
 'CustomerAddress': 'Kulas Light Apt. 556',
 'CustomerCity': 'Gwenborough',
 'CustomerZipCode': '92998-3874',
 'CustomerProfession': 'SELF',
 'CustomerAge': 29}

In [99]:
source

{'id': '122-34-6543',
 'firstName': 'Leanne',
 'lastName': 'Graham',
 'address': {'street': 'Kulas Light',
  'suite': 'Apt. 556',
  'city': 'Gwenborough',
  'zipcode': '92998-3874'},
 'occupation': 'self-employed',
 'age': 29}

In [108]:
source['address']['street']

'Kulas Light'

In [101]:
for i in range(0,len(proper_data)):
    target_made[proper_data['Target'][i].strip(" ")] = '0'

In [102]:
target_made

{'SSN': '0',
 'CustomerFullName': '0',
 'CustomerAddress': '0',
 'CustomerCity': '0',
 'CustomerZipCode': '0',
 'CustomerProfession': '0',
 'CustomerAge': '0'}

In [111]:
for i in range(0,len(proper_data)):
    if(proper_data['Operation'][i]=='No' and proper_data['EnumFound'][i]=='No' and allList[i][0].find(".")==-1):
        
        target_made[proper_data['Target'][i].strip(" ")] = source[allList[i][0]]
        
        
    if(proper_data['Operation'][i]=='No' and proper_data['EnumFound'][i]=='No' and allList[i][0].find(".")!=-1):
        listy = allList[i][0].split(".")
        
        if(len(listy)==2):
            
            target_made[proper_data['Target'][i].strip(" ")] = source[listy[0]][listy[1]]
            
        if(len(listy)==3):
            
            target_made[proper_data['Target'][i].strip(" ")] = source[listy[0]][listy[1]][listy[2]]
            
        if(len(listy)==4):
            
            target_made[proper_data['Target'][i].strip(" ")] = source[listy[0]][listy[1]][listy[2]][listy[3]]
            
        if(len(listy)==5):
            
            target_made[proper_data['Target'][i].strip(" ")] = source[listy[0]][listy[1]][listy[2]][listy[3]][listy[4]]
            
            
    if()

In [112]:
target_made

{'SSN': '122-34-6543',
 'CustomerFullName': '0',
 'CustomerAddress': '0',
 'CustomerCity': 'Gwenborough',
 'CustomerZipCode': '92998-3874',
 'CustomerProfession': '0',
 'CustomerAge': 29}